<form method="post" action="/gateway/paybynet/comeback">
	<p>newStatus: <input type="text" value="" name="newStatus"/></p>
	<p>transAmount: <input type="text" value="" name="transAmount"/></p>
	<p>paymentId: <input type="text" value="" name="paymentId"/></p>
	<p>hash: <input type="text" value="" name="hash"/></p>
</form>