<% if @idbank %>
<% @url = @gateway.preferred_url+"?idbank="+@idbank %>
<% else %>
<% @url = @gateway.preferred_url %>
<% end %>
<%= form_tag @url, :id => "pay", :method => "post" do %>

    <%= hidden_field_tag 'hashtrans', @hashtrans %>

    <%= submit_tag "Pay", :style => "display: none;" %>
    <p>trwa przekierowanie do strony płatności...</p>
<% end %>

<script>
   function exec () {
        var frm = document.getElementById("pay");
        frm.submit();
    }
   window.onload = exec;
</script>